<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>
</head>
<body>
    <h1>welcome to website!</h1>

    Container
    <ul>
        <li th:each="entity: ${containerList}">
            <span th:text="${entity.statusCode}">List</span>
        </li>
    </ul>

    <p><span th:text="#{welcome.message}" /></p>

    <a th:href="@{/list}">你好</a>
</body>
</html>