<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>login</title>
</head>
<body onload="document.f.username.focus()">
    <!--<div id="header" th:include="page :: header">-->
    <!--</div>-->

    <div id="content">
        <form th:action="@{/login}" method="POST" name="f">
            <table>
                <tr>
                    <td>User:</td>
                    <td><input type="text" name="username" value="" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="submit" value="Login" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!--<div id="footer" th:include="page :: copy">-->
    <!--</div>-->
</body>
</html>